
<!DOCTYPE html>
<html lang="nl" ng-app="memory">
<head>
    <meta charset="utf-8"/>
    <title>AngularJS memory game</title>
    <link rel="stylesheet" type="text/css" href="memory.css">
</head>

<body ng-controller="boardCreator" ng-init="newGame(2)">
<header>
    <h2>Javascript memory</h2>
    <div>Elapsed time: <span id="time">{{currentTime}}</span> seconds.<br/>
        Found pairs: <span id="found">0</span><br>
        Remaining show time: <br>
        <button id="myTime"><div id="timeLeft"></div></button><br/>
    </div>

    <div class="gameGrid" ng-controller="boardInteraction">
        <div class="gameRows" ng-repeat="row in gameRows">
            <div class="gameCols" ng-repeat="col in gameCols">
                <div class="gameField">
                    <span class="gameValue" data="exampleData" value="inactive" ng-click="clickField($event, gameGrid[row][col], row, col)">
                        {{gameGrid[row][col]}}
                    </span>
               </div>
            </div>
        </div>
    </div>
</header>

<div id="main" ng-controller="boardInteraction">
    <div>
        <table id="speelveld"></table>

        <table id="meta">
            <tr><td>
                <b>Top five</b>
                <ol id="topscores"></ol>
                <ol ng-repeat="score in scores" class="score" ><b>{{$index+1}}.</b> {{score.name}}: {{score.time}} seconds </ol>
                <b>Avarage playing time:</b> <span id="gemiddeld">{{avaragePlayingTime}} seconds</span><br/><br/>
                <b>Afmeting bord:</b><select name="size" id ="size">
                <option value=2>2</option>
                <option value=4>4</option>
                <option value=6 selected>6</option>
            </select>
            </td></tr>
            <tr><td>
                <button class="jscolor{valueElement:'valueinactive', styleElement:'styleInactive'}">

                    Kaartkleur
                </button>
                <input type="hidden" id="valueinactive" value="ff0000" custom-on-change="colorChange"><input id="styleInactive">
                <br>
                <button class="jscolor{valueElement:'valueactive', styleElement:'styleActive'}">
                    Open
                </button>
                <input type="hidden" id="valueactive" value="ffa500" custom-on-change="colorChange"><input id="styleActive">
                <br>
                <button class="jscolor{valueElement:'valuefound', styleElement:'styleFound'}">
                    Gevonden
                </button>
                <input type="hidden" id="valuefound" value="008000" custom-on-change="colorChange"><input id="styleFound">
            </td></tr>
            <tr >
                <td>
                <button id="opnieuw" ng-click="newGame()">Nieuw Spel</button>
            </td></tr>
        </table>

    </div>
</div>

<!-- Load the JQuery Library -->
<script src="jquery-3.2.1.min.js"></script>

<!-- Load the AngularJS library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

<!-- Load the jscolor Library-->
<script src="jscolor.min.js"></script>

<!-- Load the JS Module -->
<script src="memory.js"></script>
</body>
</html>
